<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<ni-card [title]="'Basic tooltip'">
  <button md-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="below">Tooltip</button>
</ni-card>

<ni-card [title]="'Positioning'">
  <button md-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="after">after</button>
  <button md-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="before">before</button>
  <button md-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="above">above</button>
  <button md-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="below">below</button>
  <button md-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="left">left</button>
  <button md-raised-button color="primary" mdTooltip="Some message" mdTooltipPosition="right">right</button>
</ni-card>