
<ni-breadcrumb [menu]="breadcrumb" [style]="'custom2'" class="mb-4"></ni-breadcrumb>

<div class="row">
  <div class="col-md-8">
    <ni-card [title]="'Transactions' | translate" (refresh)="doRefresh($event)" [showRefresh]="true">
      <ni-table [headers]="transactionHeaders" [data]="transactions"></ni-table>
      <ni-table-loading *ngIf="loading"></ni-table-loading>
      <ni-alert *ngIf="transactions.length === 0 && !loading" [color]="'warning'" [outline]="true"><strong>{{'No transaction' | translate}}</strong></ni-alert>
      <ni-pagination [totalItems]="total" [itemPerPage]="max" [currentPage]="page" *ngIf="transactions.length > 0" (changePage)="changePage($event)"></ni-pagination>
    </ni-card>
  </div>
  <div class="col-md-4">
    <ni-card [outline]="true" [bgColor]="'warning'" class="info-card">
      <div class="title text-uppercase">{{'Amount' | translate}}</div>
      <div class="count">{{isShowAmount ? totalAmount : '#####'}}</div>
      <u><a (click)="showAmount()" class="show-link">Show amount</a></u>
    </ni-card>
  </div>
</div>