<div class="navbar-wrap">
  <div class="navbar-button" [ngClass]="{ 'open' : openedSidebar }" (click)="openSidebar()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <h1 class="page-title">{{ title | translate }}</h1>

  <div class="nav-items">
    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button md-raised-button color="accent">Payment</button>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button md-raised-button color="accent">Create new group</button>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <a href="#" (click)="open($event)" class="nav-link btn-group">Group List</a>
      <div class="dropdown-menu">
        <ul>
          <li *ngFor="let group of groupList">
            <a>
              <div class="content">
                <span class="desc"><strong>{{group}}</strong></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <a href="#" (click)="open($event)" class="nav-link">{{langCode.toUpperCase()}}</a>
      <div class="dropdown-menu">
        <ul>
          <li *ngFor="let lang of languages">
            <a (click)="changeLanguage(lang.code)">
              <div class="content">
                <span class="desc"><strong>{{lang.code.toUpperCase()}}</strong></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <a href="#" (click)="open($event)" class="nav-link">
        <div class="avatar"><img src="assets/content/avatar-2.jpg" width="40" height="40" alt=""></div>
        <div class="name">Justin Adams</div>
      </a>

      <div class="dropdown-menu mini-menu">
        <ul>
          <li>
            <a href="#"><span class="icon sli-home"></span> My Account</a>
          </li>
          <li>
            <a href="#"><span class="icon sli-user"></span> Profile</a>
          </li>
          <li>
            <a href="#" routerLink="/default-layout/calendar"><span class="icon sli-calendar"></span> Calendar</a>
          </li>
          <li>
            <a href="#"><span class="icon sli-settings"></span> Settings</a>
          </li>
          <li>
            <a [routerLink]="'/'"><span class="icon sli-logout"></span> Log Out</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="items-overlay" (click)="close($event)"></div>
  </div>
</div>