<div class="row">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-md-12">
          <ni-card [title]="'request' | translate">
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-default">
                <tr>
                  <th>{{'from' | translate}}</th>
                  <th>{{'description' | translate}}</th>
                  <th>{{'action' | translate}}</th>
                </tr>
                </thead>
                <tbody *ngFor="let user of userRequests">
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </ni-card>
        </div>
        <div class="col-md-12">
          <ni-card [title]="'nextpayment' | translate">
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-default">
                <tr>
                  <th>{{'date' | translate}}</th>
                  <th>{{'type' | translate}}</th>
                  <th>{{'fundname' | translate}}</th>
                </tr>
                </thead>
                <tbody *ngFor="let user of userRequests">
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </ni-card>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <ni-card [title]="'timeline' | translate">
        <ni-h-timeline [showYears]="true" [showDate]="true" [align]="'between'" [data]="timelineData"></ni-h-timeline>
      </ni-card>
    </div>
</div>