<div class="row">
    <div class="col-lg-7">
      <div class="row">
        <div class="col-md-12">
          <ni-card [title]="'request' | translate">
            <div class="table-responsive">
              <table class="table">
                <tbody *ngFor="let user of userRequests">
                  <tr>
                    <td>{{user.request_date}} : {{user.sender}}<span *ngIf="user.request_type === 'REQUEST_TO_JOIN_GROUP'"> {{'would_you_to_join_the_group' | translate}} </span>{{user.group}} 
                      <button md-raised-button color="accent">Accept</button>
                      <button md-raised-button color="warn">Reject</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ni-card>
        </div>
        <div class="col-md-12">
          <ni-card [title]="'nextpayment' | translate">
            <div class="table-responsive">
              <table class="table">
                <tbody *ngFor="let p of nextPayment">
                  <tr>
                    <td>{{p.to}} {{p.type}} {{p.projected_payment_due_date}} {{p.projected_amount_due}} {{p.currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ni-card>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <ni-card [title]="'timeline' | translate">
        <ni-h-timeline [showYears]="true" [showDate]="true" [align]="'between'" [data]="timelineData"></ni-h-timeline>
      </ni-card>
    </div>
</div>