<ni-card [title]="'Sign in with your app id to continue'" [align]="'center'">
  <form (ngSubmit)="onSubmit()">
    <md-input-container>
      <input mdInput placeholder="Username" value="">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Password" value="">
    </md-input-container>

    <div class="text-left mb-module">
      <md-checkbox>
        Keep me signed in
      </md-checkbox>
    </div>

    <button md-raised-button color="primary" type="submit">Sign In</button>

    <div class="additional-info">
      <a href="extra-layout/sign-up">Sign up</a>
      <span class="divider"></span>
      <a href="extra-layout/forgot">Forgot your password?</a>
    </div>
  </form>
</ni-card>
