<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<ni-card [title]="'Basic toolbar'">
  <md-toolbar>My App</md-toolbar>
</ni-card>

<ni-card [title]="'Multiple rows'">
  <md-toolbar>
    <span>First Row</span>

    <md-toolbar-row>
      <span>Second Row</span>
    </md-toolbar-row>

    <md-toolbar-row>
      <span>Third Row</span>
    </md-toolbar-row>
  </md-toolbar>
</ni-card>

<ni-card [title]="'Positioning toolbar content'">
  <md-toolbar color="primary">
    <span>Title</span>

    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned</span>
  </md-toolbar>
</ni-card>

<ni-card [title]="'Theming'" class="mb-0">
  <md-toolbar color="primary">Primary</md-toolbar>
  <br>
  <md-toolbar color="accent">Accent</md-toolbar>
  <br>
  <md-toolbar color="warn">Warning</md-toolbar>
</ni-card>