<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<ni-card [title]="'Action icons'">
  <md-icon>3d_rotation</md-icon>
  <md-icon>accessibility</md-icon>
  <md-icon>accessible</md-icon>
  <md-icon>account_balance</md-icon>
  <md-icon>account_balance_wallet</md-icon>
  <md-icon>account_box</md-icon>
  <md-icon>account_circle</md-icon>
  <md-icon>add_shopping_cart</md-icon>
  <md-icon>alarm</md-icon>
  <md-icon>alarm_add</md-icon>
  <md-icon>alarm_off</md-icon>
  <md-icon>alarm_on</md-icon>
  <md-icon>all_out</md-icon>
  <md-icon>android</md-icon>
  <md-icon>announcement</md-icon>
  <md-icon>aspect_ratio</md-icon>
  <md-icon>assessment</md-icon>
  <md-icon>assignment</md-icon>
  <md-icon>assignment_ind</md-icon>
  <md-icon>assignment_late</md-icon>
  <md-icon>assignment_return</md-icon>
  <md-icon>assignment_returned</md-icon>
  <md-icon>assignment_turned_in</md-icon>
  <md-icon>autorenew</md-icon>
  <md-icon>backup</md-icon>
  <md-icon>book</md-icon>
  <md-icon>bookmark</md-icon>
  <md-icon>bookmark_outline</md-icon>
  <md-icon>bug_report</md-icon>
  <md-icon>build</md-icon>
  <md-icon>cached</md-icon>
  <md-icon>camera_enhanced</md-icon>
  <md-icon>card_giftcard</md-icon>
  <md-icon>card_membership</md-icon>
  <md-icon>card_travel</md-icon>
  <md-icon>change_history</md-icon>
  <md-icon>check_circle</md-icon>
  <md-icon>chrome_reader_mode</md-icon>
  <md-icon>class</md-icon>
  <md-icon>code</md-icon>
  <md-icon>compare_arrows</md-icon>
  <md-icon>copyright</md-icon>
  <md-icon>credit_card</md-icon>
  <md-icon>dashboard</md-icon>
  <md-icon>date_range</md-icon>
  <md-icon>delete</md-icon>
  <md-icon>delete_forever</md-icon>
  <md-icon>description</md-icon>
  <md-icon>dns</md-icon>
  <md-icon>done</md-icon>
  <md-icon>done_all</md-icon>
  <md-icon>donut_large</md-icon>
  <md-icon>donut_small</md-icon>
  <md-icon>eject</md-icon>
  <md-icon>euro_symbol</md-icon>
  <md-icon>event</md-icon>
  <md-icon>event_seat</md-icon>
  <md-icon>exit_to_app</md-icon>
  <md-icon>explore</md-icon>
  <md-icon>extension</md-icon>
  <md-icon>face</md-icon>
  <md-icon>favorite</md-icon>
  <md-icon>favorite_border</md-icon>
  <md-icon>feedback</md-icon>
  <md-icon>find_in_page</md-icon>
  <md-icon>find_replace</md-icon>
  <md-icon>fingerprint</md-icon>
  <md-icon>flight_land</md-icon>
  <md-icon>flight_takeoff</md-icon>
  <md-icon>flip_to_back</md-icon>
  <md-icon>flip_to_front</md-icon>
  <md-icon>g_translate</md-icon>
  <md-icon>gavel</md-icon>
  <md-icon>get_app</md-icon>
  <md-icon>gif</md-icon>
  <md-icon>grade</md-icon>
  <md-icon>group_work</md-icon>
  <md-icon>help</md-icon>
  <md-icon>help_outline</md-icon>
  <md-icon>highlight_off</md-icon>
  <md-icon>history</md-icon>
  <md-icon>home</md-icon>
  <md-icon>hourglass_empty</md-icon>
  <md-icon>hourglass_full</md-icon>
  <md-icon>http</md-icon>
  <md-icon>https</md-icon>
  <md-icon>important_devices</md-icon>
  <md-icon>info</md-icon>
  <md-icon>info_outline</md-icon>
  <md-icon>input</md-icon>
  <md-icon>invert_colors</md-icon>
  <md-icon>label</md-icon>
  <md-icon>label_outline</md-icon>
  <md-icon>language</md-icon>
  <md-icon>launch</md-icon>
  <md-icon>lightbulb_outline</md-icon>
  <md-icon>line_style</md-icon>
  <md-icon>line_weight</md-icon>
  <md-icon>list</md-icon>
  <md-icon>lock</md-icon>
  <md-icon>lock_open</md-icon>
  <md-icon>lock_outline</md-icon>
  <md-icon>loyalty</md-icon>
  <md-icon>markunread_mailbox</md-icon>
  <md-icon>motorcycle</md-icon>
  <md-icon>note_add</md-icon>
  <md-icon>offline_pin</md-icon>
  <md-icon>opacity</md-icon>
  <md-icon>open_in_browser</md-icon>
  <md-icon>open_in_new</md-icon>
  <md-icon>open_with</md-icon>
  <md-icon>pageview</md-icon>
  <md-icon>pan_tool</md-icon>
  <md-icon>payment</md-icon>
  <md-icon>perm_camera_mic</md-icon>
  <md-icon>perm_contact_calendar</md-icon>
  <md-icon>perm_data_setting</md-icon>
  <md-icon>perm_device_information</md-icon>
  <md-icon>perm_identity</md-icon>
  <md-icon>perm_media</md-icon>
  <md-icon>perm_phone_msg</md-icon>
  <md-icon>perm_scan_wifi</md-icon>
  <md-icon>pets</md-icon>
  <md-icon>picture_in_picture</md-icon>
  <md-icon>picture_in_picture_alt</md-icon>
  <md-icon>play_for_work</md-icon>
  <md-icon>polymer</md-icon>
  <md-icon>power_settings_new</md-icon>
  <md-icon>pregnant_woman</md-icon>
  <md-icon>print</md-icon>
  <md-icon>query_builder</md-icon>
  <md-icon>question_answer</md-icon>
  <md-icon>receipt</md-icon>
  <md-icon>record_voice_over</md-icon>
  <md-icon>redeem</md-icon>
  <md-icon>remove_shopping_cart</md-icon>
  <md-icon>reorder</md-icon>
  <md-icon>report_problem</md-icon>
  <md-icon>restore</md-icon>
  <md-icon>restore_page</md-icon>
  <md-icon>room</md-icon>
  <md-icon>rounded_corner</md-icon>
  <md-icon>rowing</md-icon>
  <md-icon>schedule</md-icon>
  <md-icon>search</md-icon>
  <md-icon>settings</md-icon>
  <md-icon>settings_applications</md-icon>
  <md-icon>settings_backup_restore</md-icon>
  <md-icon>settings_bluetooth</md-icon>
  <md-icon>settings_brightness</md-icon>
  <md-icon>settings_cell</md-icon>
  <md-icon>settings_ethernet</md-icon>
  <md-icon>settings_input_antenna</md-icon>
  <md-icon>settings_input_component</md-icon>
  <md-icon>settings_input_composite</md-icon>
  <md-icon>settings_input_hdmi</md-icon>
  <md-icon>settings_input_svideo</md-icon>
  <md-icon>settings_overscan</md-icon>
  <md-icon>settings_phone</md-icon>
  <md-icon>settings_power</md-icon>
  <md-icon>settings_remote</md-icon>
  <md-icon>settings_voice</md-icon>
  <md-icon>shop</md-icon>
  <md-icon>shop_two</md-icon>
  <md-icon>shopping_basket</md-icon>
  <md-icon>shopping_cart</md-icon>
  <md-icon>speaker_notes</md-icon>
  <md-icon>speaker_notes_off</md-icon>
  <md-icon>spellcheck</md-icon>
  <md-icon>star_rate</md-icon>
  <md-icon>stars</md-icon>
  <md-icon>store</md-icon>
  <md-icon>subject</md-icon>
  <md-icon>supervisor_account</md-icon>
  <md-icon>swap_horiz</md-icon>
  <md-icon>swap_vert</md-icon>
  <md-icon>swap_vertial_circle</md-icon>
  <md-icon>system_update_alt</md-icon>
  <md-icon>tab</md-icon>
  <md-icon>tab_unselected</md-icon>
  <md-icon>theaters</md-icon>
  <md-icon>thumb_down</md-icon>
  <md-icon>thumb_up</md-icon>
  <md-icon>thumbs_up_down</md-icon>
  <md-icon>timeline</md-icon>
  <md-icon>toc</md-icon>
  <md-icon>today</md-icon>
  <md-icon>toll</md-icon>
  <md-icon>touch_app</md-icon>
  <md-icon>track_changes</md-icon>
  <md-icon>translate</md-icon>
  <md-icon>trending_down</md-icon>
  <md-icon>trending_flat</md-icon>
  <md-icon>trending_up</md-icon>
  <md-icon>turned_in</md-icon>
  <md-icon>turned_in_not</md-icon>
  <md-icon>update</md-icon>
  <md-icon>verified_user</md-icon>
  <md-icon>view_agenda</md-icon>
  <md-icon>view_array</md-icon>
  <md-icon>view_carousel</md-icon>
  <md-icon>view_column</md-icon>
  <md-icon>view_day</md-icon>
  <md-icon>view_headline</md-icon>
  <md-icon>view_list</md-icon>
  <md-icon>view_module</md-icon>
  <md-icon>view_quilt</md-icon>
  <md-icon>view_stream</md-icon>
  <md-icon>view_week</md-icon>
  <md-icon>visibility</md-icon>
  <md-icon>visibility_off</md-icon>
  <md-icon>watch_later</md-icon>
  <md-icon>work</md-icon>
  <md-icon>youtube_searched_for</md-icon>
  <md-icon>zoom_in</md-icon>
  <md-icon>zoom_out</md-icon>
</ni-card>
<ni-card [title]="'Alert icons'">
  <md-icon>add_alert</md-icon>
  <md-icon>error</md-icon>
  <md-icon>error_outline</md-icon>
  <md-icon>warning</md-icon>
</ni-card>
<ni-card [title]="'Av icons'">
  <md-icon>add_to_queue</md-icon>
  <md-icon>airplay</md-icon>
  <md-icon>album</md-icon>
  <md-icon>art_track</md-icon>
  <md-icon>av_timer</md-icon>
  <md-icon>branding_watermark</md-icon>
  <md-icon>call_to_action</md-icon>
  <md-icon>closed_caption</md-icon>
  <md-icon>equalizer</md-icon>
  <md-icon>explicit</md-icon>
  <md-icon>fast_forward</md-icon>
  <md-icon>fast_rewind</md-icon>
  <md-icon>featured_play_list</md-icon>
  <md-icon>featured_video</md-icon>
  <md-icon>fiber_manual_record</md-icon>
  <md-icon>forward_10</md-icon>
  <md-icon>forward_30</md-icon>
  <md-icon>forward_5</md-icon>
  <md-icon>games</md-icon>
  <md-icon>hd</md-icon>
  <md-icon>hearing</md-icon>
  <md-icon>high_quality</md-icon>
  <md-icon>my_library_add</md-icon>
  <md-icon>my_library_books</md-icon>
  <md-icon>my_library_music</md-icon>
  <md-icon>loop</md-icon>
  <md-icon>mic</md-icon>
  <md-icon>mic_none</md-icon>
  <md-icon>mic_off</md-icon>
  <md-icon>movie</md-icon>
  <md-icon>music_video</md-icon>
  <md-icon>new_releases</md-icon>
  <md-icon>not_interested</md-icon>
  <md-icon>note</md-icon>
  <md-icon>pause</md-icon>
  <md-icon>pause_circle_filled</md-icon>
  <md-icon>pause_circle_outline</md-icon>
  <md-icon>play_arrow</md-icon>
  <md-icon>play_circle_fill</md-icon>
  <md-icon>play_circle_outline</md-icon>
  <md-icon>playlist_add</md-icon>
  <md-icon>playlist_add_check</md-icon>
  <md-icon>playlist_play</md-icon>
  <md-icon>queue</md-icon>
  <md-icon>queue_music</md-icon>
  <md-icon>queue_play_next</md-icon>
  <md-icon>radio</md-icon>
  <md-icon>recent_actors</md-icon>
  <md-icon>remove_from_queue</md-icon>
  <md-icon>repeat</md-icon>
  <md-icon>repeat_one</md-icon>
  <md-icon>replay</md-icon>
  <md-icon>replay_10</md-icon>
  <md-icon>replay_30</md-icon>
  <md-icon>replay_5</md-icon>
  <md-icon>shuffle</md-icon>
  <md-icon>skip_next</md-icon>
  <md-icon>skip_previous</md-icon>
  <md-icon>slow_motion_video</md-icon>
  <md-icon>snooze</md-icon>
  <md-icon>sort_by_alpha</md-icon>
  <md-icon>stop</md-icon>
  <md-icon>subscriptions</md-icon>
  <md-icon>subtitles</md-icon>
  <md-icon>surround_sound</md-icon>
  <md-icon>video_call</md-icon>
  <md-icon>video_label</md-icon>
  <md-icon>video_library</md-icon>
  <md-icon>videocam</md-icon>
  <md-icon>videocam_off</md-icon>
  <md-icon>volume_down</md-icon>
  <md-icon>volume_mute</md-icon>
  <md-icon>volume_off</md-icon>
  <md-icon>volume_up</md-icon>
  <md-icon>web</md-icon>
  <md-icon>web_asset</md-icon>
</ni-card>
<ni-card [title]="'Cummunikation icons'">
  <md-icon>business</md-icon>
  <md-icon>call</md-icon>
  <md-icon>call_end</md-icon>
  <md-icon>call_made</md-icon>
  <md-icon>call_merge</md-icon>
  <md-icon>call_missed</md-icon>
  <md-icon>call_missed_outgoing</md-icon>
  <md-icon>call_received</md-icon>
  <md-icon>call_split</md-icon>
  <md-icon>chat</md-icon>
  <md-icon>chat_bubble</md-icon>
  <md-icon>chat_bubble_outline</md-icon>
  <md-icon>clear_all</md-icon>
  <md-icon>comment</md-icon>
  <md-icon>contact_mail</md-icon>
  <md-icon>contact_phone</md-icon>
  <md-icon>contacts</md-icon>
  <md-icon>dialer_sip</md-icon>
  <md-icon>dialpad</md-icon>
  <md-icon>email</md-icon>
  <md-icon>forum</md-icon>
  <md-icon>import_contacts</md-icon>
  <md-icon>import_export</md-icon>
  <md-icon>invert_colors_off</md-icon>
  <md-icon>live_help</md-icon>
  <md-icon>location_off</md-icon>
  <md-icon>location_on</md-icon>
  <md-icon>mail_outline</md-icon>
  <md-icon>message</md-icon>
  <md-icon>no_sim</md-icon>
  <md-icon>phone</md-icon>
  <md-icon>phonelink_erase</md-icon>
  <md-icon>phonelink_lock</md-icon>
  <md-icon>phonelink_ring</md-icon>
  <md-icon>phonelink_setup</md-icon>
  <md-icon>portable_wifi_off</md-icon>
  <md-icon>present_to_all</md-icon>
  <md-icon>ring_volume</md-icon>
  <md-icon>rss_feed</md-icon>
  <md-icon>screen_share</md-icon>
  <md-icon>stay_current_landscape</md-icon>
  <md-icon>stay_current_portrait</md-icon>
  <md-icon>stay_primary_landscape</md-icon>
  <md-icon>stay_primary_portrait</md-icon>
  <md-icon>stop_screen_share</md-icon>
  <md-icon>swap_calls</md-icon>
  <md-icon>textsms</md-icon>
  <md-icon>voicemail</md-icon>
  <md-icon>vpn_key</md-icon>
</ni-card>
<ni-card [title]="'Content icons'">
  <md-icon>add</md-icon>
  <md-icon>add_box</md-icon>
  <md-icon>add_circle</md-icon>
  <md-icon>add_circle_outline</md-icon>
  <md-icon>archive</md-icon>
  <md-icon>backspace</md-icon>
  <md-icon>block</md-icon>
  <md-icon>clear</md-icon>
  <md-icon>content_copy</md-icon>
  <md-icon>content_cut</md-icon>
  <md-icon>content_paste</md-icon>
  <md-icon>create</md-icon>
  <md-icon>delete_sweep</md-icon>
  <md-icon>drafts</md-icon>
  <md-icon>filter_list</md-icon>
  <md-icon>flag</md-icon>
  <md-icon>font_download</md-icon>
  <md-icon>forward</md-icon>
  <md-icon>gesture</md-icon>
  <md-icon>inbox</md-icon>
  <md-icon>link</md-icon>
  <md-icon>low_priority</md-icon>
  <md-icon>mail</md-icon>
  <md-icon>markunread</md-icon>
  <md-icon>move_to_inbox</md-icon>
  <md-icon>next_week</md-icon>
  <md-icon>redo</md-icon>
  <md-icon>remove</md-icon>
  <md-icon>remove_circle</md-icon>
  <md-icon>remove_circle_outline</md-icon>
  <md-icon>reply</md-icon>
  <md-icon>reply_all</md-icon>
  <md-icon>report</md-icon>
  <md-icon>save</md-icon>
  <md-icon>select_all</md-icon>
  <md-icon>send</md-icon>
  <md-icon>sort</md-icon>
  <md-icon>text_format</md-icon>
  <md-icon>unarchive</md-icon>
  <md-icon>undo</md-icon>
  <md-icon>weekend</md-icon>
</ni-card>
<ni-card [title]="'Device icons'">
  <md-icon>access_alarms</md-icon>
  <md-icon>access_alarm</md-icon>
  <md-icon>access_time</md-icon>
  <md-icon>add_alarm</md-icon>
  <md-icon>airplanemode_on</md-icon>
  <md-icon>airplanemode_inactive</md-icon>
  <md-icon>battery_charging_full</md-icon>
  <md-icon>battery_full</md-icon>
  <md-icon>battery_std</md-icon>
  <md-icon>battery_unknown</md-icon>
  <md-icon>bluetooth</md-icon>
  <md-icon>bluetooth_connected</md-icon>
  <md-icon>bluetooth_disabled</md-icon>
  <md-icon>bluetooth_searching</md-icon>
  <md-icon>brightness_auto</md-icon>
  <md-icon>brightness_high</md-icon>
  <md-icon>brightness_low</md-icon>
  <md-icon>brightness_medium</md-icon>
  <md-icon>data_usage</md-icon>
  <md-icon>developer_mode</md-icon>
  <md-icon>devices</md-icon>
  <md-icon>dvr</md-icon>
  <md-icon>gps_fixed</md-icon>
  <md-icon>gps_not_fixed</md-icon>
  <md-icon>gps_off</md-icon>
  <md-icon>graphic_eq</md-icon>
  <md-icon>location_disabled</md-icon>
  <md-icon>location_searching</md-icon>
  <md-icon>network_cell</md-icon>
  <md-icon>network_wifi</md-icon>
  <md-icon>nfc</md-icon>
  <md-icon>screen_lock_landscape</md-icon>
  <md-icon>screen_lock_portrait</md-icon>
  <md-icon>screen_lock_rotation</md-icon>
  <md-icon>screen_rotation</md-icon>
  <md-icon>sd_storage</md-icon>
  <md-icon>settings_system_daydream</md-icon>
  <md-icon>signal_cellular_4_bar</md-icon>
  <md-icon>signal_cellular_connected_no_internet_4_bar</md-icon>
  <md-icon>signal_cellular_no_sim</md-icon>
  <md-icon>signal_cellular_null</md-icon>
  <md-icon>signal_cellular_off</md-icon>
  <md-icon>signal_wifi_4_bar</md-icon>
  <md-icon>signal_wifi_4_bar_lock</md-icon>
  <md-icon>signal_wifi_off</md-icon>
  <md-icon>storage</md-icon>
  <md-icon>usb</md-icon>
  <md-icon>wallpaper</md-icon>
  <md-icon>wifi_lock</md-icon>
  <md-icon>wifi_tethering</md-icon>
</ni-card>
<ni-card [title]="'Editor icons'">
  <md-icon>attach_file</md-icon>
  <md-icon>attach_money</md-icon>
  <md-icon>border_all</md-icon>
  <md-icon>border_bottom</md-icon>
  <md-icon>border_clear</md-icon>
  <md-icon>border_color</md-icon>
  <md-icon>border_horizontal</md-icon>
  <md-icon>border_inner</md-icon>
  <md-icon>border_left</md-icon>
  <md-icon>border_outer</md-icon>
  <md-icon>border_right</md-icon>
  <md-icon>border_style</md-icon>
  <md-icon>border_top</md-icon>
  <md-icon>border_vertical</md-icon>
  <md-icon>bubble_chart</md-icon>
  <md-icon>drag_handle</md-icon>
  <md-icon>format_align_center</md-icon>
  <md-icon>format_align_justify</md-icon>
  <md-icon>format_align_left</md-icon>
  <md-icon>format_align_right</md-icon>
  <md-icon>format_bold</md-icon>
  <md-icon>format_clear</md-icon>
  <md-icon>format_color_fill</md-icon>
  <md-icon>format_color_reset</md-icon>
  <md-icon>format_color_text</md-icon>
  <md-icon>format_indent_decrease</md-icon>
  <md-icon>format_indent_increase</md-icon>
  <md-icon>format_italic</md-icon>
  <md-icon>format_line_spacing</md-icon>
  <md-icon>format_list_bulleted</md-icon>
  <md-icon>format_list_numbered</md-icon>
  <md-icon>format_paint</md-icon>
  <md-icon>format_quote</md-icon>
  <md-icon>format_shapes</md-icon>
  <md-icon>format_size</md-icon>
  <md-icon>format_strikethrough</md-icon>
  <md-icon>format_textdirection_l_to_r</md-icon>
  <md-icon>format_textdirection_r_to_l</md-icon>
  <md-icon>format_underline</md-icon>
  <md-icon>functions</md-icon>
  <md-icon>highlight</md-icon>
  <md-icon>insert_chart</md-icon>
  <md-icon>insert_comment</md-icon>
  <md-icon>insert_drive_file</md-icon>
  <md-icon>insert_emoticon</md-icon>
  <md-icon>insert_invitation</md-icon>
  <md-icon>insert_link</md-icon>
  <md-icon>insert_photo</md-icon>
  <md-icon>linear_scale</md-icon>
  <md-icon>merge_type</md-icon>
  <md-icon>mode_comment</md-icon>
  <md-icon>mode_edit</md-icon>
  <md-icon>monetization_on</md-icon>
  <md-icon>money_off</md-icon>
  <md-icon>multiline_chart</md-icon>
  <md-icon>pie_chart</md-icon>
  <md-icon>pie_chart_outline</md-icon>
  <md-icon>publish</md-icon>
  <md-icon>short_text</md-icon>
  <md-icon>show_chart</md-icon>
  <md-icon>space_bar</md-icon>
  <md-icon>strikethrough_s</md-icon>
  <md-icon>text_fields</md-icon>
  <md-icon>title</md-icon>
  <md-icon>vertical_align_bottom</md-icon>
  <md-icon>vertical_align_center</md-icon>
  <md-icon>vertical_align_top</md-icon>
  <md-icon>wrap_text</md-icon>
</ni-card>
<ni-card [title]="'File icons'">
  <md-icon>attachment</md-icon>
  <md-icon>cloud</md-icon>
  <md-icon>cloud_circle</md-icon>
  <md-icon>cloud_done</md-icon>
  <md-icon>cloud_download</md-icon>
  <md-icon>cloud_off</md-icon>
  <md-icon>cloud_queue</md-icon>
  <md-icon>cloud_upload</md-icon>
  <md-icon>create_new_folder</md-icon>
  <md-icon>file_download</md-icon>
  <md-icon>file_upload</md-icon>
  <md-icon>folder</md-icon>
  <md-icon>folder_open</md-icon>
  <md-icon>folder_shared</md-icon>
</ni-card>
<ni-card [title]="'Hardware icons'">
  <md-icon>cast</md-icon>
  <md-icon>cast_connected</md-icon>
  <md-icon>computer</md-icon>
  <md-icon>desktop_mac</md-icon>
  <md-icon>desktop_windows</md-icon>
  <md-icon>device_hub</md-icon>
  <md-icon>devices_other</md-icon>
  <md-icon>dock</md-icon>
  <md-icon>gamepad</md-icon>
  <md-icon>headset</md-icon>
  <md-icon>headset_mic</md-icon>
  <md-icon>keyboard</md-icon>
  <md-icon>keyboard_arrow_down</md-icon>
  <md-icon>keyboard_arrow_left</md-icon>
  <md-icon>keyboard_arrow_right</md-icon>
  <md-icon>keyboard_arrow_up</md-icon>
  <md-icon>keyboard_backspace</md-icon>
  <md-icon>keyboard_capslock</md-icon>
  <md-icon>keyboard_hide</md-icon>
  <md-icon>keyboard_return</md-icon>
  <md-icon>keyboard_tab</md-icon>
  <md-icon>keyboard_voice</md-icon>
  <md-icon>laptop</md-icon>
  <md-icon>laptop_chromebook</md-icon>
  <md-icon>laptop_mac</md-icon>
  <md-icon>laptop_windows</md-icon>
  <md-icon>memory</md-icon>
  <md-icon>mouse</md-icon>
  <md-icon>phone_android</md-icon>
  <md-icon>phone_iphone</md-icon>
  <md-icon>phonelink</md-icon>
  <md-icon>phonelink_off</md-icon>
  <md-icon>power_input</md-icon>
  <md-icon>router</md-icon>
  <md-icon>scanner</md-icon>
  <md-icon>security</md-icon>
  <md-icon>sim_card</md-icon>
  <md-icon>smartphone</md-icon>
  <md-icon>speaker</md-icon>
  <md-icon>speaker_group</md-icon>
  <md-icon>tablet</md-icon>
  <md-icon>tablet_android</md-icon>
  <md-icon>tablet_mac</md-icon>
  <md-icon>toys</md-icon>
  <md-icon>tv</md-icon>
  <md-icon>watch</md-icon>
</ni-card>
<ni-card [title]="'Image icons'">
  <md-icon>add_a_photo</md-icon>
  <md-icon>add_to_photos</md-icon>
  <md-icon>adjust</md-icon>
  <md-icon>assistant_photo</md-icon>
  <md-icon>audiotrack</md-icon>
  <md-icon>blur_circular</md-icon>
  <md-icon>blur_linear</md-icon>
  <md-icon>blur_off</md-icon>
  <md-icon>blur_on</md-icon>
  <md-icon>brightness_1</md-icon>
  <md-icon>brightness_2</md-icon>
  <md-icon>brightness_3</md-icon>
  <md-icon>brightness_4</md-icon>
  <md-icon>brightness_5</md-icon>
  <md-icon>brightness_6</md-icon>
  <md-icon>brightness_7</md-icon>
  <md-icon>broken_image</md-icon>
  <md-icon>brush</md-icon>
  <md-icon>burst_mode</md-icon>
  <md-icon>camera</md-icon>
  <md-icon>camera_alt</md-icon>
  <md-icon>camera_front</md-icon>
  <md-icon>camera_rear</md-icon>
  <md-icon>camera_roll</md-icon>
  <md-icon>center_focus_strong</md-icon>
  <md-icon>center_focus_weak</md-icon>
  <md-icon>collections</md-icon>
  <md-icon>collections_bookmark</md-icon>
  <md-icon>color_lens</md-icon>
  <md-icon>colorize</md-icon>
  <md-icon>compare</md-icon>
  <md-icon>control_point</md-icon>
  <md-icon>control_point_duplicate</md-icon>
  <md-icon>crop</md-icon>
  <md-icon>crop_16_9</md-icon>
  <md-icon>crop_3_2</md-icon>
  <md-icon>crop_5_4</md-icon>
  <md-icon>crop_7_5</md-icon>
  <md-icon>crop_din</md-icon>
  <md-icon>crop_free</md-icon>
  <md-icon>crop_landscape</md-icon>
  <md-icon>crop_original</md-icon>
  <md-icon>crop_portrait</md-icon>
  <md-icon>crop_rotate</md-icon>
  <md-icon>crop_square</md-icon>
  <md-icon>dehaze</md-icon>
  <md-icon>details</md-icon>
  <md-icon>edit</md-icon>
  <md-icon>exposure</md-icon>
  <md-icon>exposure_neg_1</md-icon>
  <md-icon>exposure_neg_2</md-icon>
  <md-icon>exposure_plus_1</md-icon>
  <md-icon>exposure_plus_2</md-icon>
  <md-icon>exposure_zero</md-icon>
  <md-icon>filter</md-icon>
  <md-icon>filter_1</md-icon>
  <md-icon>filter_2</md-icon>
  <md-icon>filter_3</md-icon>
  <md-icon>filter_4</md-icon>
  <md-icon>filter_5</md-icon>
  <md-icon>filter_6</md-icon>
  <md-icon>filter_7</md-icon>
  <md-icon>filter_8</md-icon>
  <md-icon>filter_9</md-icon>
  <md-icon>filter_9_plus</md-icon>
  <md-icon>filter_b_and_w</md-icon>
  <md-icon>filter_center_focus</md-icon>
  <md-icon>filter_drama</md-icon>
  <md-icon>filter_frames</md-icon>
  <md-icon>filter_hdr</md-icon>
  <md-icon>filter_none</md-icon>
  <md-icon>filter_tilt_shift</md-icon>
  <md-icon>filter_vintage</md-icon>
  <md-icon>flare</md-icon>
  <md-icon>flash_auto</md-icon>
  <md-icon>flash_off</md-icon>
  <md-icon>flash_on</md-icon>
  <md-icon>flip</md-icon>
  <md-icon>gradient</md-icon>
  <md-icon>grain</md-icon>
  <md-icon>grid_off</md-icon>
  <md-icon>grid_on</md-icon>
  <md-icon>hdr_off</md-icon>
  <md-icon>hdr_on</md-icon>
  <md-icon>hdr_strong</md-icon>
  <md-icon>hdr_weak</md-icon>
  <md-icon>healing</md-icon>
  <md-icon>image</md-icon>
  <md-icon>image_aspect_ratio</md-icon>
  <md-icon>iso</md-icon>
  <md-icon>landscape</md-icon>
  <md-icon>leak_add</md-icon>
  <md-icon>leak_remove</md-icon>
  <md-icon>lens</md-icon>
  <md-icon>linked_camera</md-icon>
  <md-icon>looks</md-icon>
  <md-icon>looks_3</md-icon>
  <md-icon>looks_4</md-icon>
  <md-icon>looks_5</md-icon>
  <md-icon>looks_6</md-icon>
  <md-icon>looks_one</md-icon>
  <md-icon>looks_two</md-icon>
  <md-icon>loupe</md-icon>
  <md-icon>monochrome_photos</md-icon>
  <md-icon>movie_creation</md-icon>
  <md-icon>movie_filter</md-icon>
  <md-icon>music_note</md-icon>
  <md-icon>nature</md-icon>
  <md-icon>nature_people</md-icon>
  <md-icon>navigate_before</md-icon>
  <md-icon>navigate_next</md-icon>
  <md-icon>palette</md-icon>
  <md-icon>panorama</md-icon>
  <md-icon>panorama_fisheye</md-icon>
  <md-icon>panorama_horizontal</md-icon>
  <md-icon>panorama_vertical</md-icon>
  <md-icon>panorama_wide_angle</md-icon>
  <md-icon>photo</md-icon>
  <md-icon>photo_album</md-icon>
  <md-icon>photo_camera</md-icon>
  <md-icon>photo_filter</md-icon>
  <md-icon>photo_library</md-icon>
  <md-icon>photo_size_select_actual</md-icon>
  <md-icon>photo_size_select_large</md-icon>
  <md-icon>photo_size_select_small</md-icon>
  <md-icon>picture_as_pdf</md-icon>
  <md-icon>portrait</md-icon>
  <md-icon>remove_red_eye</md-icon>
  <md-icon>rotate_90_degrees_ccw</md-icon>
  <md-icon>rotate_left</md-icon>
  <md-icon>rotate_right</md-icon>
  <md-icon>slideshow</md-icon>
  <md-icon>straighten</md-icon>
  <md-icon>style</md-icon>
  <md-icon>switch_camera</md-icon>
  <md-icon>switch_video</md-icon>
  <md-icon>tag_faces</md-icon>
  <md-icon>texture</md-icon>
  <md-icon>timelapse</md-icon>
  <md-icon>timer</md-icon>
  <md-icon>timer_10</md-icon>
  <md-icon>timer_3</md-icon>
  <md-icon>timer_off</md-icon>
  <md-icon>tonality</md-icon>
  <md-icon>transform</md-icon>
  <md-icon>tune</md-icon>
  <md-icon>view_comfy</md-icon>
  <md-icon>view_compact</md-icon>
  <md-icon>vignette</md-icon>
  <md-icon>wb_auto</md-icon>
  <md-icon>wb_cloudy</md-icon>
  <md-icon>wb_incandescent</md-icon>
  <md-icon>wb_sunny</md-icon>
</ni-card>
<ni-card [title]="'Maps icons'">
  <md-icon>add_location</md-icon>
  <md-icon>beenhere</md-icon>
  <md-icon>directions</md-icon>
  <md-icon>directions_bike</md-icon>
  <md-icon>directions_bus</md-icon>
  <md-icon>directions_car</md-icon>
  <md-icon>directions_ferry</md-icon>
  <md-icon>directions_subway</md-icon>
  <md-icon>directions_train</md-icon>
  <md-icon>directions_transit</md-icon>
  <md-icon>directions_walk</md-icon>
  <md-icon>edit_location</md-icon>
  <md-icon>ev_station</md-icon>
  <md-icon>flight</md-icon>
  <md-icon>hotel</md-icon>
  <md-icon>layers</md-icon>
  <md-icon>layers_clear</md-icon>
  <md-icon>local_activity</md-icon>
  <md-icon>local_airport</md-icon>
  <md-icon>local_atm</md-icon>
  <md-icon>local_bar</md-icon>
  <md-icon>local_cafe</md-icon>
  <md-icon>local_car_wash</md-icon>
  <md-icon>local_convenience_store</md-icon>
  <md-icon>local_dining</md-icon>
  <md-icon>local_drink</md-icon>
  <md-icon>local_florist</md-icon>
  <md-icon>local_gas_station</md-icon>
  <md-icon>local_grocery_store</md-icon>
  <md-icon>local_hospital</md-icon>
  <md-icon>local_hotel</md-icon>
  <md-icon>local_laundry_service</md-icon>
  <md-icon>local_library</md-icon>
  <md-icon>local_mall</md-icon>
  <md-icon>local_movies</md-icon>
  <md-icon>local_offer</md-icon>
  <md-icon>local_parking</md-icon>
  <md-icon>local_pharmacy</md-icon>
  <md-icon>local_phone</md-icon>
  <md-icon>local_pizza</md-icon>
  <md-icon>local_play</md-icon>
  <md-icon>local_post_office</md-icon>
  <md-icon>local_print_shop</md-icon>
  <md-icon>local_restaurant</md-icon>
  <md-icon>local_see</md-icon>
  <md-icon>local_shipping</md-icon>
  <md-icon>local_taxi</md-icon>
  <md-icon>map</md-icon>
  <md-icon>my_location</md-icon>
  <md-icon>navigation</md-icon>
  <md-icon>near_me</md-icon>
  <md-icon>person_pin_circle</md-icon>
  <md-icon>person_pin</md-icon>
  <md-icon>pin_drop</md-icon>
  <md-icon>place</md-icon>
  <md-icon>rate_review</md-icon>
  <md-icon>restaurant</md-icon>
  <md-icon>restaurant_menu</md-icon>
  <md-icon>satellite</md-icon>
  <md-icon>store_mall_directory</md-icon>
  <md-icon>streetview</md-icon>
  <md-icon>subway</md-icon>
  <md-icon>terrain</md-icon>
  <md-icon>traffic</md-icon>
  <md-icon>train</md-icon>
  <md-icon>tram</md-icon>
  <md-icon>transfer_within_a_station</md-icon>
  <md-icon>zoom_out_map</md-icon>
</ni-card>
<ni-card [title]="'Navigation icons'">
  <md-icon>apps</md-icon>
  <md-icon>arrow_back</md-icon>
  <md-icon>arrow_downward</md-icon>
  <md-icon>arrow_drop_down</md-icon>
  <md-icon>arrow_drop_down_circle</md-icon>
  <md-icon>arrow_drop_up</md-icon>
  <md-icon>arrow_forward</md-icon>
  <md-icon>arrow_upwards</md-icon>
  <md-icon>cancel</md-icon>
  <md-icon>check</md-icon>
  <md-icon>chevron_left</md-icon>
  <md-icon>chevron_right</md-icon>
  <md-icon>close</md-icon>
  <md-icon>expand_less</md-icon>
  <md-icon>expand_more</md-icon>
  <md-icon>first_page</md-icon>
  <md-icon>fullscreen</md-icon>
  <md-icon>fullscreen_exit</md-icon>
  <md-icon>last_page</md-icon>
  <md-icon>menu</md-icon>
  <md-icon>more_horiz</md-icon>
  <md-icon>more_vert</md-icon>
  <md-icon>refresh</md-icon>
  <md-icon>subdirectory_arrow_left</md-icon>
  <md-icon>subdirectory_arrow_right</md-icon>
  <md-icon>adb</md-icon>
  <md-icon>airline_seat_flat</md-icon>
  <md-icon>airline_seat_individual_suite</md-icon>
  <md-icon>airline_seat_legroom_extra</md-icon>
  <md-icon>airline_seat_legroom_normal</md-icon>
  <md-icon>airline_seat_legroom_reduced</md-icon>
  <md-icon>airline_seat_recline_extra</md-icon>
  <md-icon>airline_seat_recline_normal</md-icon>
  <md-icon>bluetooth_audio</md-icon>
  <md-icon>confirmation_number</md-icon>
  <md-icon>disc_full</md-icon>
  <md-icon>do_not_disturb</md-icon>
  <md-icon>do_not_disturb_alt</md-icon>
  <md-icon>do_not_disturb_off</md-icon>
  <md-icon>do_not_disturb_on</md-icon>
  <md-icon>drive_eta</md-icon>
  <md-icon>enhanced_encryption</md-icon>
  <md-icon>event_available</md-icon>
  <md-icon>event_busy</md-icon>
  <md-icon>event_note</md-icon>
  <md-icon>folder_special</md-icon>
  <md-icon>live_tv</md-icon>
  <md-icon>mms</md-icon>
  <md-icon>more</md-icon>
  <md-icon>network_check</md-icon>
  <md-icon>network_locked</md-icon>
  <md-icon>no_encryption</md-icon>
  <md-icon>ondemand_video</md-icon>
  <md-icon>personal_video</md-icon>
  <md-icon>phone_bluetooth_speaker</md-icon>
  <md-icon>phone_forwarded</md-icon>
  <md-icon>phone_in_talk</md-icon>
  <md-icon>phone_locked</md-icon>
  <md-icon>phone_missed</md-icon>
  <md-icon>phone_paused</md-icon>
  <md-icon>power</md-icon>
  <md-icon>priority_high</md-icon>
  <md-icon>sd_card</md-icon>
  <md-icon>sim_card_alert</md-icon>
  <md-icon>sms</md-icon>
  <md-icon>sms_failed</md-icon>
  <md-icon>sync</md-icon>
  <md-icon>sync_disabled</md-icon>
  <md-icon>sync_problem</md-icon>
  <md-icon>system_update</md-icon>
  <md-icon>tap_and_play</md-icon>
  <md-icon>time_to_leave</md-icon>
  <md-icon>vibration</md-icon>
  <md-icon>voice_chat</md-icon>
  <md-icon>vpn_lock</md-icon>
  <md-icon>wc</md-icon>
  <md-icon>wifi</md-icon>
</ni-card>
<ni-card [title]="'Places icons'">
  <md-icon>ac_unit</md-icon>
  <md-icon>airport_shuttle</md-icon>
  <md-icon>all_inclusive</md-icon>
  <md-icon>beach_access</md-icon>
  <md-icon>business_center</md-icon>
  <md-icon>casino</md-icon>
  <md-icon>child_care</md-icon>
  <md-icon>fitness_center</md-icon>
  <md-icon>free_breakfast</md-icon>
  <md-icon>golf_course</md-icon>
  <md-icon>hot_tub</md-icon>
  <md-icon>kitchen</md-icon>
  <md-icon>pool</md-icon>
  <md-icon>room_service</md-icon>
  <md-icon>rv_hookup</md-icon>
  <md-icon>smoke_free</md-icon>
  <md-icon>spa</md-icon>
</ni-card>
<ni-card [title]="'Social icons'">
  <md-icon>cake</md-icon>
  <md-icon>domain</md-icon>
  <md-icon>group</md-icon>
  <md-icon>group_add</md-icon>
  <md-icon>location_city</md-icon>
  <md-icon>mood</md-icon>
  <md-icon>mood_bad</md-icon>
  <md-icon>notifications</md-icon>
  <md-icon>notifications_none</md-icon>
  <md-icon>notifications_off</md-icon>
  <md-icon>notifications_active</md-icon>
  <md-icon>notifications_paused</md-icon>
  <md-icon>pages</md-icon>
  <md-icon>party_mode</md-icon>
  <md-icon>people</md-icon>
  <md-icon>people_outline</md-icon>
  <md-icon>person</md-icon>
  <md-icon>person_add</md-icon>
  <md-icon>person_outline</md-icon>
  <md-icon>plus_one</md-icon>
  <md-icon>poll</md-icon>
  <md-icon>public</md-icon>
  <md-icon>school</md-icon>
  <md-icon>sentiment_dissatisfied</md-icon>
  <md-icon>sentiment_neutral</md-icon>
  <md-icon>sentiment_satisfied</md-icon>
  <md-icon>sentiment_very_dissatisfied</md-icon>
  <md-icon>sentiment_very_satisfied</md-icon>
  <md-icon>share</md-icon>
  <md-icon>whatshot</md-icon>
</ni-card>
<ni-card [title]="'Toggle icons'" class="mb-0">
  <md-icon>check_box</md-icon>
  <md-icon>check_box_outline_blank</md-icon>
  <md-icon>indeterminate_check_box</md-icon>
  <md-icon>radio_button_unchecked</md-icon>
  <md-icon>radio_button_checked</md-icon>
  <md-icon>star</md-icon>
  <md-icon>star_half</md-icon>
  <md-icon>star_border</md-icon>
</ni-card>