<h2 md-dialog-title *ngIf="pageNum === 1">Payment : Select your payment method.</h2>
<div md-dialog-content class="p-3" *ngIf="pageNum === 1">
    <p>You are about to make a {{data.p_type_text}} payment of {{data.amount_due}} to {{data.to}}.</p>
    <p>Populate the list of payment radio button using the api below:</p>
    <md-radio-group class="column-layout" [(ngModel)]="selectedType">
        <md-radio-button value="{{i}}" *ngFor="let p of payments;let i = index">{{p.text}}</md-radio-button>
    </md-radio-group>
    <div md-dialog-actions class="buttons">
        <button md-raised-button (click)="dialogRef.close('cancel')" color="primary">CANCEL</button>
        <button md-raised-button (click)="goNext()" color="accent">Next</button>
    </div>
</div>

<h2 md-dialog-title *ngIf="pageNum === 2">Payment : {{payments[selectedType].text}}.</h2>
<div md-dialog-content class="p-3" *ngIf="pageNum === 2">
    <p *ngIf="payments[selectedType].code === 'BANK_TRANSFER_DIRECT_TO_USER'">
        To pay by bank transfer, send the amount {{data.amount_due}} to the account below with reference P#{{payments[selectedType].id}}.<br>
        IBAN : xxxxxxxxxxxxxxxxxx
    </p>
    <div *ngIf="payments[selectedType].code === 'BY_HAND'">
        <p>{{data.to}} will receive a request to confirm that you have given money and the data.</p>
        <md-input-container class="mt-4">
            <textarea mdInput readonly rows="3">Hi {{data.to}}, Can you please confirm that you received from me the payment of {{data.amount_due}} kori in cash? Click here confirm.
                {{data.from}}
            </textarea>
        </md-input-container>
    </div>
    <div md-dialog-actions class="buttons">
        <button md-raised-button (click)="pageNum = 1" color="accent">Previous</button>
        <button md-raised-button *ngIf="payments[selectedType].code === 'BY_HAND'" (click)="sendConfirmationRequest()" color="primary">Send Confirmation request</button>
        <button md-raised-button *ngIf="payments[selectedType].code !== 'BY_HAND'" (click)="dialogRef.close('cancel')" color="primary">CANCEL</button>
        <button md-raised-button *ngIf="payments[selectedType].code !== 'BANK_TRANSFER_DIRECT_TO_USER' && payments[selectedType].code !== 'BY_HAND'" (click)="sendApproval()" color="accent">Send approval request</button>
    </div>
</div>