.search-group {
  width: 150px;
}

md-list {
  width: 350px;
  margin-right: 20px;
  height: 450px;
  overflow-y: scroll;
}

md-list-item {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  padding-left: 10px;
}

md-list-item:hover {
  background-color: #dddddd;
}

.selected {
  background-color: rgb(84, 196, 248);
  color: #fff !important;
}