<ni-card [title]="'Files Types'">
  <ni-file [title]="'file-name'"></ni-file>
  <ni-file [type]="'doc'" [title]="'file-name'"></ni-file>
  <ni-file [type]="'xlx'" [title]="'file-name'"></ni-file>
  <ni-file [type]="'pdf'" [title]="'file-name'"></ni-file>
  <ni-file [type]="'zip'" [title]="'file-name'"></ni-file>
  <ni-file [type]="'mp3'" [title]="'file-name'"></ni-file>
  <ni-file [type]="'mp4'" [title]="'file-name'"></ni-file>
  <ni-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-1.jpg'"></ni-file>
</ni-card>

<ni-card [title]="'Files Size'">
  <p><strong>Small</strong></p>
  <p>
    <ni-file [title]="'file-name'" [size]="'small'"></ni-file>
    <ni-file [type]="'doc'" [title]="'file-name'" [size]="'small'"></ni-file>
    <ni-file [type]="'xlx'" [title]="'file-name'" [size]="'small'"></ni-file>
    <ni-file [type]="'pdf'" [title]="'file-name'" [size]="'small'"></ni-file>
    <ni-file [type]="'zip'" [title]="'file-name'" [size]="'small'"></ni-file>
    <ni-file [type]="'mp3'" [title]="'file-name'" [size]="'small'"></ni-file>
    <ni-file [type]="'mp4'" [title]="'file-name'" [size]="'small'"></ni-file>
    <ni-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-2.jpg'" [size]="'small'"></ni-file>
  </p>
  <p><strong>Normal</strong></p>
  <p>
    <ni-file [title]="'file-name'"></ni-file>
    <ni-file [type]="'doc'" [title]="'file-name'"></ni-file>
    <ni-file [type]="'xlx'" [title]="'file-name'"></ni-file>
    <ni-file [type]="'pdf'" [title]="'file-name'"></ni-file>
    <ni-file [type]="'zip'" [title]="'file-name'"></ni-file>
    <ni-file [type]="'mp3'" [title]="'file-name'"></ni-file>
    <ni-file [type]="'mp4'" [title]="'file-name'"></ni-file>
    <ni-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-3.jpg'"></ni-file>
  </p>
  <p><strong>Large</strong></p>
  <p>
    <ni-file [title]="'file-name'" [size]="'large'"></ni-file>
    <ni-file [type]="'doc'" [title]="'file-name'" [size]="'large'"></ni-file>
    <ni-file [type]="'xlx'" [title]="'file-name'" [size]="'large'"></ni-file>
    <ni-file [type]="'pdf'" [title]="'file-name'" [size]="'large'"></ni-file>
    <ni-file [type]="'zip'" [title]="'file-name'" [size]="'large'"></ni-file>
    <ni-file [type]="'mp3'" [title]="'file-name'" [size]="'large'"></ni-file>
    <ni-file [type]="'mp4'" [title]="'file-name'" [size]="'large'"></ni-file>
    <ni-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file.jpg'" [size]="'large'"></ni-file>
  </p>
</ni-card>

<ni-card [title]="'Files with delete button'">
  <ni-file [title]="'file-name'" [delete]="true"></ni-file>
  <ni-file [type]="'doc'" [title]="'file-name'" [delete]="true"></ni-file>
  <ni-file [type]="'xlx'" [title]="'file-name'" [delete]="true"></ni-file>
  <ni-file [type]="'pdf'" [title]="'file-name'" [delete]="true"></ni-file>
  <ni-file [type]="'zip'" [title]="'file-name'" [delete]="true"></ni-file>
  <ni-file [type]="'mp3'" [title]="'file-name'" [delete]="true"></ni-file>
  <ni-file [type]="'mp4'" [title]="'file-name'" [delete]="true"></ni-file>
  <ni-file [type]="'jpg'" [title]="'file-name'" [image]="'assets/content/file-4.jpg'" [delete]="true"></ni-file>
</ni-card>

<ni-card [title]="'Files with spinners'" class="mb-0">
  <ni-file [title]="'file-name'" [spinner]="true"></ni-file>
  <ni-file [type]="'doc'" [title]="'file-name'" [spinner]="true"></ni-file>
  <ni-file [type]="'xlx'" [title]="'file-name'" [spinner]="true"></ni-file>
  <ni-file [type]="'pdf'" [title]="'file-name'" [spinner]="true"></ni-file>
  <ni-file [type]="'zip'" [title]="'file-name'" [spinner]="true"></ni-file>
  <ni-file [type]="'mp3'" [title]="'file-name'" [spinner]="true"></ni-file>
  <ni-file [type]="'mp4'" [title]="'file-name'" [spinner]="true"></ni-file>
</ni-card>