<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<ni-card [title]="'Basic tabs'">
  <md-tab-group>
    <md-tab label="One">
      <h3>Some tab content</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque autem consequatur distinctio dolor dolore dolores, earum, eos explicabo id illo impedit iste modi nihil nulla praesentium provident quis repellat suscipit veritatis. Aut cum, dolor ea est ex excepturi minima obcaecati perspiciatis quaerat quidem quo repellendus sapiente sit sunt tenetur.</p>
    </md-tab>
    <md-tab label="Two">
      <h3>Some more tab content</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aperiam architecto distinctio ea facere ipsum iste molestiae nihil omnis optio perferendis praesentium tempore veritatis. Aperiam cupiditate dicta doloribus eaque et exercitationem modi necessitatibus nisi, nostrum porro quae quaerat reiciendis, repellendus sequi sunt temporibus, voluptatem. Corporis ducimus laboriosam odio quas reiciendis repudiandae.</p>
    </md-tab>
    <md-tab label="Three">
      <h3>Some tab content</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque autem consequatur distinctio dolor dolore dolores, earum, eos explicabo id illo impedit iste modi nihil nulla praesentium provident quis repellat suscipit veritatis. Aut cum, dolor ea est ex excepturi minima obcaecati perspiciatis quaerat quidem quo repellendus sapiente sit sunt tenetur.</p>
    </md-tab>
  </md-tab-group>
</ni-card>

<ni-card [title]="'Tabs with label templates'" class="mb-0">
  <md-tab-group>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon>thumb_up</md-icon> The best pasta
      </ng-template>
      <h3>Best pasta restaurants</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi culpa dolorem ducimus eligendi est impedit inventore iste iure magnam neque nulla odit officia, porro repudiandae saepe sed, soluta suscipit tempore ullam? Adipisci aliquid aspernatur consequatur, cum eius facilis incidunt ipsum omnis, perspiciatis sunt tempora temporibus tenetur voluptatem! Est, quas!</p>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>
        <md-icon>thumb_down</md-icon> The worst sushi
      </ng-template>
      <h3>Terrible sushi restaurants</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias animi aperiam blanditiis consectetur culpa cum deleniti dicta dolor dolore eaque earum fugiat ipsum mollitia necessitatibus nesciunt obcaecati officiis quam quia quis, quo saepe sapiente tenetur ut velit veniam vitae. Dolore ea nam nisi numquam tempora unde voluptas!</p>
    </md-tab>
  </md-tab-group>
</ni-card>