<div *ngIf="showGroupList">
  <div class="row members-header">
    <div class="col-sm-12 text-right p-3">
      <md-input-container class="search-group">
        <input mdInput placeholder="search" value="">
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 p-3">
      <ni-table [headers]="groupHeaders" [data]="groups"></ni-table>
    </div>
  </div>
</div>

<div *ngIf="!showGroupList">
  <ni-breadcrumb [menu]="breadcrumb" [style]="'custom2'" class="mb-4"></ni-breadcrumb>
  
  <md-tab-group>
    <md-tab label="Home">
      <div class="row">
        <div class="col-sm-8 p-3">
          <md-card class="example-card mb-3" *ngIf="groupInfo && groupInfo.group_info">
            <ul>
              <li>Name: {{groupInfo.group_info.name}}</li>
              <li>Description: {{groupInfo.group_info.description}}</li>
              <li>Date creation: {{groupInfo.group_info.date_creation}}</li>
              <li>Type: {{groupInfo.group_info.g_type}}</li>
              <li>Currency: {{groupInfo.group_info.currency}}</li>
              <li>Creator: {{groupInfo.group_info.creator}}</li>
              <li>Status: {{groupInfo.group_info.status}}</li>
              <li>Rate: {{groupInfo.group_info.rate}}</li>
              <li>Frequency: {{groupInfo.group_info.frequency}}</li>
              <li>Due date: {{groupInfo.group_info.due_day}}</li>
              <li>nb members: {{groupInfo.group_info.nb_members}}</li>
            </ul>
          </md-card>
          <button md-raised-button color="accent">Start</button>
          <button md-raised-button color="accent">Add a member</button>
        </div>
        <div class="col-sm-4 p-3">
          <md-card class="example-card" *ngIf="groupInfo && groupInfo.previous_rotation_data">
            <md-card-header>
              <md-card-title><strong>Previous Rotation</strong></md-card-title>
            </md-card-header>
            <ul>
              <li>First name: {{groupInfo.previous_rotation_data.first_name}}</li>
              <li>Email: {{groupInfo.previous_rotation_data.email}}</li>
              <li>Date creation: {{groupInfo.previous_rotation_data.creation_date}}</li>
              <li>Type: {{groupInfo.previous_rotation_data.member_type}}</li>
              <li>Gender: {{groupInfo.previous_rotation_data.gender}}</li>
              <li>Position: {{groupInfo.previous_rotation_data.position}}</li>
              <li>Position Date: {{groupInfo.previous_rotation_data.user_position_date}}</li>
            </ul>
          </md-card>
          <md-card class="example-card mt-3" *ngIf="groupInfo && groupInfo.next_rotation_data">
            <md-card-header>
              <md-card-title><strong>Next Rotation</strong></md-card-title>
            </md-card-header>
            <ul>
              <li>First name: {{groupInfo.next_rotation_data.first_name}}</li>
              <li>Email: {{groupInfo.next_rotation_data.email}}</li>
              <li>Date creation: {{groupInfo.next_rotation_data.creation_date}}</li>
              <li>Type: {{groupInfo.next_rotation_data.member_type}}</li>
              <li>Gender: {{groupInfo.next_rotation_data.gender}}</li>
              <li>Position: {{groupInfo.next_rotation_data.position}}</li>
              <li>Position Date: {{groupInfo.next_rotation_data.user_position_date}}</li>
            </ul>
          </md-card>
        </div>
      </div>
    </md-tab>
    <md-tab label="Members">
      <div class="row members-header">
        <div class="col-sm-6 p-3">
          <button md-raised-button color="accent" (click)="openDialog()">Add a member</button>
        </div>
        <div class="col-sm-6 text-right p-3">
          <md-input-container class="search-group">
            <input mdInput placeholder="search" value="">
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 p-3">
          <ni-table [headers]="memberHeaders" [data]="members"></ni-table>
        </div>
      </div>
    </md-tab>
    <md-tab label="Obligation">
      <div class="row members-header">
        <div class="col-sm-12 text-right p-3">
          <md-input-container class="search-group">
            <input mdInput placeholder="search" value="">
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 p-3">
          <ni-table [headers]="obligationHeaders" [data]="obligations"></ni-table>
        </div>
      </div>
    </md-tab>
    <md-tab label="Requests">
      <div class="row members-header">
        <div class="col-sm-12 text-right p-3">
          <md-input-container class="search-group">
            <input mdInput placeholder="search" value="">
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 p-3">
          <ni-table [headers]="requestHeaders" [data]="requests"></ni-table>
        </div>
      </div>
    </md-tab>
    <md-tab label="Event">
      <div class="row members-header">
        <div class="col-sm-12 text-right p-3">
          <md-input-container class="search-group">
            <input mdInput placeholder="search" value="">
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 p-3">
          <ni-table [headers]="eventHeaders" [data]="events"></ni-table>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>
