@import './variable';

@import './fonts';

@import './structure';
@import './typography';
@import './helpers';
@import './components/material-components';
@import './components/bootstrap';

horizontal-navbar {
  .btn-group-list {
    font-size: 12px !important;
  }
  .btn-code {
    font-size: 14px !important;
  }
  .page-title {
    width: initial !important;
  }
  md-input-container {
    span label {
      color: white !important;
    }
  }
}

group-create {
  md-select {
    width: 100%;
  }
}
md-dialog-container {
  padding: 0 !important;
  width: 500px !important;
  h2 {
    background: #e5e6e9 !important;
    padding: 24px !important;
    text-align: center !important;
    margin: 0 !important;
  }
  form {
    padding: 0 24px 24px 24px !important;
  }
  .mat-dialog-content {
    padding: 24px;
    margin: 0;
  }
  .mat-dialog-actions {
    justify-content: space-between;
  }
  .mat-input-infix {
    border: 0;
    padding: 0;
    padding-bottom: 0.4375rem;
  }
}
.mat-tab-label-active {
  background: #252d47 !important;
  color: white !important;
  opacity: .6 !important;
}
ni-pagination {
  md-select {
    width: 40px;
    .mat-select-trigger {
      min-width: 40px !important;
    }
  }
}